.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 10px;

  .time {
    font-size: 50px;
  }

  .currentNumber {
    font-size: 1rem;
    margin: 10px 0;
    min-width: 50px;
    text-align: center;
    padding: 8px;
  }

  .box {
    border: 1px solid #eee;
    margin: 10px 0;
    width: 100%;
    height: 400px;
    font-size: 30px;

    .startButton {
      width: 100%;
      height: 100%;
      margin: auto;
      border: 0;
      cursor: pointer;
    }

    .winBox {
      width: 100%;
      height: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .resetButton {
    cursor: pointer;
    width: 100%;
    background: #eee;
    border: 0;
    padding: 20px 0;
    margin: 0;
  }
}
