@import '../../styles/variables.module.scss';

.table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  color: #fff;

  .column {
    border: 4px solid $background;
    width: 20%;
    height: 25%;

    .button {
      font-size: 1.8rem;
      height: 100%;
    }
  }
}
